[Unit]
Description=Enable HP Omen Max Fan Speed
After=sysinit.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'for f in /sys/devices/platform/hp-wmi/hwmon/hwmon*/pwm1_enable; do echo 0 > "$f"; done'
ExecStop=/bin/sh -c 'for f in /sys/devices/platform/hp-wmi/hwmon/hwmon*/pwm1_enable; do echo 2 > "$f"; done'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target